/*header section*/
.mainHeader {

}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.logo a {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
}

.logo span {
  color: #f16d7f;
}

.brandButton {
  width: 130px;
  height: 38px;
  border-radius: 3px;
  background-color: #f16d7f;
}

.mainNav {
  width: 680px;
  height: 51px;
  margin: auto;
}

.mainNav ul {
  margin: 0 auto;
  display: inline-block;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.mainNavItem {
  height: 10px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.mainNavItem:hover {

}







/*slider section*/
.sliderFrame {
  height: 665px;
  background-color: #e8e8e8;
}

/*category section*/
.categotyies {
  height: 850px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

/*products section*/
.products {
  height: 850px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.productsArticle {
  margin: 10px 10px;
  align-items: center;
}
/*banner section*/
.featureBanner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.bannerImg {
  float: left;
}
.bannerDescription {
  width: 373px;
  float: right;
}
/*subscribe section*/
.subscribe {
  clear: both;
  height: 435px;
  box-sizing: border-box;
  background-color: #AAA;
}











/*footer section*/
.mainFooter {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.brandDescription {
  width: 430px;
}
